* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  background-color: #f7fdfc;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.section#left {
  max-width: 600px;
  padding-right: 120px;
  width: 80%;
  padding-left: 10px;
  padding-right: 12px;
  color: #737373;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
  .logo {
    margin-left: -10px;
  }
  .mobile-text {
    visibility: hidden;
  }
}

h1 {
  color: #000b0a;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: -0.8px;
}

.section#right {
  max-width: 600px;
  height: 679px;
  border-radius: 6px;
  background: #fff;
  padding: 40px;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
}

.names,
.gender-dob,
.BMI {
  display: flex;
  gap: 20px;
}

.all-input label {
  margin-top: 18px;
  display: block;
  color: #011c34;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.00625rem;
}

input,
select {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  padding: 8px;
  outline: none;
}
input:focus,
select:focus {
  border: 1px solid #2ec4b6;
}

.names input,
.gender-dob input,
.gender-dob select {
  height: 48px;
}

.all-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pword-input {
  position: relative;
}

.password-eye {
  position: absolute;
  right: 4px;
  bottom: 10px;
}

.btn {
  width: 100%;
  height: 48px;
  background: #2ec4b6;
  border: none;
  color: #fff;
  margin-top: 30px;
}
.agreement {
  color: #000;
  font-size: 11px;
  font-style: normal;
  margin: 1rem auto;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  /* a {
      color: #2ec4b6;
    } */
}

.mobile-agreement {
  display: none;
}

@media only screen and (max-width: 1300px) {
  main {
    padding: 0 64px;
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    padding: 0 36px;
    width: 100%;
    height: 100vh;
  }
}

/* repsonsiveness on mobile */

@media only screen and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 2rem 2rem;
    width: 100%;
    height: 100%;
  }
  .names,
  .gender-dob,
  .BMI {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .section#left .mobile-text {
    visibility: visible;
  }

  .section#right {
    max-width: 600px;
    height: 679px;
    border-radius: 6px;
    background: #fff;
    padding: 40px;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
    height: fit-content;
  }
  
  input,
  select {
    color: #737373;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
    padding: 8px;
    outline: none;
    width: 100%;
    flex-direction: column;
  }

  .wrapper #left,
  .wrapper #right {
    width: 100%;
    max-width: 600px;
    flex-direction: column;
  }

  .wrapper #left h1 {
    line-height: 3.125rem;
    margin: 0;
  }

  .wrapper #left,
  .mobile-text {
    max-width: 100%;
  }

  .desktop-descr {
    display: none;
  }

  .mobile-text {
    visibility: visible;
    margin: 0.75rem 0 2.5rem;
  }

  .wrapper #right {
    padding: 1.5rem 1rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .agreement {
    display: none;
  }

  .mobile-agreement {
    display: block;
    margin: 1rem 0;
    text-align: center;
  }

  .pagetext {
    display: none;
  }
}
